---
import Boilerplate from "../layouts/boilerplate.astro"
---

<Boilerplate>
    <h1 class="text-3xl font-bold underline">
        Hello World!
    </h1>
    <a href="/essays/honest-prayer"> Click </a>
</Boilerplate>