---
import Image from "astro/components/Image.astro";
---

<a href="/">
  <Image alt="Blog Logo" src="/assets/logo.png" width="75" height="50" loading="eager"/>
</a>

<style>
    img {
      display: block;
      width: 75px;
      border-radius: 50%;
    }
  
    @media screen and (max-width: 520px) {
      img {
        display: none;
      }
    }
  </style>